@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#../fonts/playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#../fonts/playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#../fonts/playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#../fonts/playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#../fonts/ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#../fonts/ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#../fonts/ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#../fonts/ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
  width: 100%;
}

header ul {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #e2574c;
}

header li {
  display: inline;
}

.logo {
  height: 60px;
}

.cart-icon {
  height: 60px;
  float: right;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1240px;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'playfair_display';
  font-weight: normal;

}

h2 {
  text-align: center;
  font-size: 35px;
  font-style: italic;
}

strong {
  font-weight: bold;
  font-style: normal;
} 

p {
  text-align: center;
  font-family: 'ralewaylight';
  font-size: 16px;
  color: #2d2d2d;
}

ul {
  list-style-type: none;
  font-family: 'ralewaylight';
}

.banner {
  height: 500px;
  text-align: center;
  background: 
    linear-gradient( rgba(36, 36, 36, 0.3),
     rgba(36, 36, 36, 0.3)
    ), 
    url("../images/banner-girl.png"), 
    url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center, 50% -50%, center;
  background-size: auto, 20%, 70%;
  color: white;
  text-shadow: 1px 1px 5px #242424; 
}

.banner p {
  width: inherit;
  margin: 200px 0px 10px 0px;
  display: inline-block;  
  font-size: 12px;
  font-family: 'ralewaymedium';
  text-transform: uppercase;
  color: inherit;
}

.banner h1 {
  width: inherit;
  margin: 10px 0px 200px 0px;
  display: inline-block;
  font-size: 55px;
}

.mens, .trends, .glasses, .sale, .bags, .womens {
  height: 250px;
  display: inline-block;
  background-size: cover;
  line-height: 250px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 5px #242424; 
}

li a:hover {
  color: #b64036;
}

.mens {
  width: 45%;
  background-image: url("../images/mens-category.jpg");
}

.trends {
  width: 25%;
  background-image: url("../images/trends-category.jpg");
}

.glasses {
  width: 25%;
  background-image: url("../images/glasses-category.jpg");
}

.sale {
  width: 25%;
  background-image: url("../images/sale-category.jpg");
}

.bags {
  width: 25%;
  background-image: url("../images/bags-category.jpg");
}

.womens {
  width: 45%;
  background-image: url("../images/womens-category.jpg");
}

.products {
  padding: 0px auto;
}

.products li {
  width: 280px;
  margin: 20px 0px;
  padding: 0px 5px;
  display: inline-block;
/**  border: 1px solid black;**/
  text-align: center;
}

.products img {
  width: 90%;
}

.products h3 {
  widows: 100%;
  color: #e2574c;
  font-size: 1.4em;
}

.products p {
  text-transform: uppercase;
  color: #969696;
}

.updates {
  height: 325px; 
  margin: 10px 0px;
  text-align: center;
  background-image: url("../images/wave-bkgd.jpg");
  background-size: 110%;
  background-position: center bottom;
  color: white;
}

.updates h2 {
  margin: 45px 0px 10px 0px;
  padding: 20px auto;
  display: inline-block;
  text-shadow: 1px 1px 5px #242424; 
}

.updates p {
  color: white;
}

form {
  width: 450px;
  height: 40px;
  margin: 40px auto;
  padding: 2px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  text-align: center;
}

form input {
  height: 100%;
  width: 60%;
  margin-left: 20px;
  float: left;
  border: 0px;
  color: #2d2d2d;
}

input::placeholder {
  color: #d7d7d7;
}

form button {
  height: 100%;
  width: 30%;
  float: right;
  border: 1px solid #e2574c;
  border-radius: 30px;
  background-color: #e2574c;
  color: white;
}

footer {
  height: 250px;
  margin: 10px 0px 0px 0px;
  background-color: #242424;
  color: white;
}

.companyinfo {
  float: left;
  margin: 40px 0px 0px 40px;
  padding: 0px;
}

.companyinfo p, .companyinfo a:link {
  color: white;
  font-family: 'playfair_display';
  text-align: left;
}

.companyinfo span {
  color: #969696;
}

.social-media {
  float: right;
  margin: 50px 40px;
  line-height: 30px;
}